<!DOCTYPE html>
<html>
  <head>
    <title>Buy Products</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="container" >
      <div class="product">
        <img
          src="https://miro.medium.com/max/1400/1*0Mo8aRkYbhvmh-QhzudO3g.png"
          alt="NodeJS Stripe Integration"
          class="product_img"
        />
        <div class="description">
          <h3>NodeJS Stripe Integration</h3>
          <h4>&#8377 100.00</h4>
        </div>
        <button type="button" id="btn">BUY</button>
      </div>
  </body>
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51L0PtmSC6uqCmCkdhqG37jomCGXe2XWvDZLeWpZTtBXqrfqYCFT0yZf52KpZmP7CcxjA2gyIYcv54GkthJBpAkFC00XwpdxxEl");
    var checkoutButton = document.getElementById("btn");

    checkoutButton.addEventListener("click", function () {
      fetch("/payment", {
        headers: {'Content-Type': 'application/json'},
        method: "POST",
        body: JSON.stringify({
            "product": {
                "name": "NodeJS Stripe Integration", 
                "image": "https://miro.medium.com/max/1400/1*0Mo8aRkYbhvmh-QhzudO3g.png", 
                "amount": 100,
                "quantity": 1
            }})
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>
</html>